header {
    display: flex;
    background: $bg-gray;
    padding-top: rem(30);
}

h1 {
    position: absolute;
    top: rem(3);
    left: 0;
    display: inline;
    vertical-align: text-top;

    @media (max-width: $desktop-bp) {
        padding-left: rem(40);
    }

    @media (max-width: $mobile-bp) {
        padding-left: rem(20);
    }
}

.h1-img {
    width: rem(134);

    @media (max-width: rem(500)) {
        width: rem(110);
    }
}
.h1-span {
    display: none;
}
