.footer{
    @include font-normal;
    display: flex;
    align-items: center;
    background-color: black;
    //min-height: rem(135);
    color: white;
    line-height: rem(20);

    @media (max-width: rem(830)) {
        flex-direction: column;
    }

    @media (max-width: rem(600)) {
        font-size: rem(12);
    }

    .icons {
        display: flex;
        order: 2;
        flex: 1;
        justify-content: flex-end;
        padding-right: em(60);

        @media (max-width: em(830)) {
            order: 1;
            margin: em(30) 0;
            padding: 0;
        }
    }

    .text {
        order: 1;
        flex: 5;
        padding: em(60) em(60);

        @media (max-width: rem(830)) {
            order: 2;
            margin: 0 em(30);
            padding: em(10) em(60) em(40);
        }
    }

    a,
    a:hover,
    a:visited,
    a:active {
        color: white;
    }

    i{
        font-size: em(30);
        margin: 0 em(10);
        cursor: pointer;
    }
}
