section.footer
    .icons
        a(href="https://www.facebook.com/ccqadvogados" target="_blank")
            i.fab.fa-facebook-f
        a(href="https://www.instagram.com/ccqadvogados/" target="_blank")
            i.fab.fa-instagram
        a(href="https://linkedin.com/company/chicarino-croce-quaresma-advogados/" target="_blank")
            i.fab.fa-linkedin-in

    .text O <strong>LAPSS</strong> é uma marca de propriedade do <strong>Chicarino, Croce & Quaresma Advogados</strong>, sediado na cidade de São Paulo. Para saber mais sobre uma nova maneira de advogar, acesse: ccqadv.com.br
