section.plans
    a#plans
    h3 Conheça <strong>nossos planos:</strong>

    .grid.grid--padding
        .plans-wrapper
            .plan-box
                .plan-box-upper Smart
                .plan-box-bottom Startups ou empresas em estágio inicial.

            .plan-box
                .plan-box-upper Advanced
                .plan-box-bottom Startups ou empresas em estágio de estabilização e crescimento.

            .plan-box
                .plan-box-upper Premium
                .plan-box-bottom Startups ou empresas em estágio de crescimento orgânico.

        a.green-button(href="#form") Entre em contato

        a#form
        .line

        .plan-column.plan-column--text
            h2.title Não importa<br>o tamanho, momento<br>e o segmento<br>do seu negócio.
            .subtitle Nascemos para<br>cuidar e te ajudar<br>a crescer.
            p.explanation Tem alguma dúvida sobre os nossos serviços ou quer saber mais sobre os nossos planos?<br><strong>Preencha o formulário para entrar em contato com a nossa equipe.</strong>

        .plan-column.plan-column--form
            form(autocomplete="off" novalidate="novalidate" )
                fieldset#fieldset-name
                    label(for="name") Nome*
                    input(id="name" name="name" type="text" placeholder='João das Neves Souza' minlength="2" required)

                fieldset#fieldset-email
                    label(for="email") Email*
                    input(id="email" name="email" type="email" placeholder="joado_sneves@gmail.com" required)

                fieldset#fieldset-phone
                    label(for="phone") Telefone
                    input(id="phone" name="phone" type="tel" placeholder="(11) 95555-5555")

                fieldset#fieldset-compamny
                    label(for="company") Nome da empresa
                    input(id="company" name="company" type="text" placeholder="Empresa das Neves S.A.")

                input.submit-btn(type="submit" value="Enviar")

                .sent-success Pedido enviado.<br>Em breve entraremos em contato.
