.plans{
    text-align: center;
    background-color: $bg-gray;
    padding-bottom: rem(80);

    @media (max-width: rem(800)) {
        padding-bottom: rem(30);
    }

    h3 {
        //padding-top: rem(84);
    }

    .plans-wrapper {
        text-align: center;
        margin: em(115) rem(20);

        @media (max-width: rem(1050)) {
            font-size: rem(13);
        }

        @media (max-width: rem(880)) {
            font-size: rem(16);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: em(30);
        }

        @media (max-width: rem(500)) {
            //margin-top: rem();
            font-size: em(14);
        }
    }

    .plan-box {
        @include font-black;
        @include shadow;
        display: inline-block;
        background-color: white;
        border-radius: em(10);
        height: em(300);
        max-width: em(265);
        vertical-align: text-top;
        overflow: hidden;

        @media (max-width: rem(880)) {
            margin-bottom: em(50) !important;
        }
    }

    .plan-box:nth-child(2) {
        margin: 0 em(45);

        @media (max-width: rem(880)) {
            margin: 0;
        }
    }

    .plan-box-upper {
        text-transform: uppercase;
        background-color: $text-orange;
        color: white;
        font-size: em(22);
        padding: em(33) 0;
    }

    .plan-box-bottom {
        display: flex;
        height: em(160);
        justify-content: center;
        align-items: center;
        padding: 0 em(10);
        font-size: em(19);
        line-height: em(21);
    }

    .green-button {
        @include font-black;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $button-green;
        height: em(36);
        width: em(250);
        border-radius: em(30);
        color: white;
        font-size: em(17);
        padding-top: em(4);
    }

    .line {
        background-color: #b7b7b7;
        margin: rem(75) 0;
        height: rem(1);
    }

    .plan-column {
        display: inline-block;
        vertical-align: text-top;
        text-align: left;
        width: 50%;

        @media (max-width: rem(900)){
            width: rem(485);
            left: 50%;
            margin-bottom: rem(80);
        }

        @media (max-width: rem(530)){
            width: rem(300);
            margin-bottom: rem(80);
        }
    }

    .plan-column.plan-column--form {
        text-align: center;
    }

    form {
        @include shadow;
        @include font-black;
        display: inline-block;
        width: rem(360);
        border-radius: rem(15);
        background-color: white;
        padding: rem(19) rem(23);
        text-align: left;

        @media (max-width: rem(530)){
            width: rem(300);
            position: relative;
            left: -10px;
        }
    }

    fieldset {
        position: relative;
        height: rem(100);
    }

    input {
        width: 100%;
        margin-top: rem(6);
        height: rem(43);
        border: rem(1) solid #dddddd;
        border-radius: rem(8);
        padding: 0 rem(10);
        color: #999;
        font-size: rem(14);
        outline: none;
    }

    input::placeholder {
        color: #B2B2B2;
    }

    label.error {
        @include font-light;
        color: $text-orange;
        font-size: rem(11);
        margin:rem(5) rem(10);
        height: rem(11);
    }

    .submit-btn {
        @include font-black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: rem(5);
        color: white;
        font-size: rem(18);
        background-color: #5AC162;
        border-radius: rem(8);
        width: 100%;
        height: rem(42);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .sent-success {
        display: none;
        margin-top: rem(20);
        text-align: center;
        line-height: rem(20);
    }
}
