$border-bottom-color: #e8e8e8;

.places{
    padding-top: 8vw;
    position: relative;
    overflow-x: hidden;

    @media (min-width: $desktop-bp){
        padding-top: 100px;
    }

    @media (max-width: $mobile-bp){
        padding-top: rem(20);
    }

    .grid--border {
        border-bottom: rem(1) solid $border-bottom-color;

        @media (max-width: rem(1140)){
            border-bottom: 0;
        }
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: $bg-gray;
        height: 26vw;
        max-height: rem(500);
        z-index: 0;

        @media (max-width: rem(870)) {
            height: 40vw;
        }

        @media (max-width: rem(490)) {
            height: 54vw;
        }

        @media (max-width: rem(380)) {
            height: 68vw;
        }

        @media (max-width: rem(325)) {
            height: 78vw;
        }
    }

    .bg-icon-wrapper {
        height: 50%;
        background: $bg-gray;
        width: 200%;
        left: 50%;
        transform: translate(-50%);
    }

    p {
        position: relative;
        padding: 0 rem(20);
        z-index: 1;
    }

    p:last-child {
        margin-bottom: 10vw;

        @media (min-width: rem(1350)){
            margin-bottom: rem(130);
        }


        @media (max-width: rem(1140)){
            border-bottom: rem(1) solid $border-bottom-color;
            margin-bottom: 0;
            padding-bottom: rem(130);
        }
    }

    .break {
        display: none;

        @media (max-width: $mobile-bp) {
            display: block;
        }
    }

    .when-need {
        @media (max-width: $mobile-bp) {
            display: block;
            margin-top: rem(30);
        }
    }

    .places-icon-wrapper {
        position: relative;
        display: flex;
        width: 100%;
        margin: 10vw 0 10vw;
        justify-content: space-between;

        @media (min-width: $desktop-bp){
            margin: rem(55) 0 rem(30);
        }

        @media (max-width: rem(550)) {
            //margin: rem(37) 0 rem(13);
        }
    }

    .place-icon {
        position: relative;
        width: 40vw;
        height: 30vw;
        //background: red;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        @media (min-width: $desktop-bp){
            height: rem(360);
        }

        @media (max-width: $mobile-bp) {
            background-size: 130%;
        }
    }

    .place-icon--internet {
        background-image: url("../../assets/images/internet-desktop.png");

        @media (max-width: $mobile-bp) {
            background-image: url("../../assets/images/internet-mobile.png");
        }
    }

    .place-icon--telefone {
        background-image: url("../../assets/images/telefone-desktop.png");

        @media (max-width: $mobile-bp) {
            background-image: url("../../assets/images/telefone-mobile.png");
        }
    }

    .place-icon--presencial {
        background-image: url("../../assets/images/presencial-desktop.png");

        @media (max-width: $mobile-bp) {
            background-image: url("../../assets/images/presencial-mobile.png");
        }
    }
}
