section.places
    .bg
    .grid.grid--padding.grid--border
        p Com o LAPSS, você tem acesso a um grupo de advogados altamente qualificados, sem surpresas com honorários advocatícios. <br class="break" /><strong class="when-need">Onde e quando precisar.</strong>

        .places-icon-wrapper
            .bg.bg-icon-wrapper
            .place-icon.place-icon--internet
            .place-icon.place-icon--telefone
            .place-icon.place-icon--presencial

        p <strong>O LAPSS oferece canais de atendimento para apoiar o cliente com agilidade e conveniência.</strong>
