section.opening
    .grid
        .text-wrapper
            h2.title Expandir seus negócios é bom.
            .subtitle Com segurança é ainda melhor.
            p.explanation O <strong>LAPSS</strong> é um plano de assitência jurídica desenvolvido exclusivamente para pequenas empresas e <strong>startups</strong>

        img.building-img(src="./assets/images/building.jpg")

        .header-buttons-wrapper
            a.header-button.header-button--contact(href="#form") Entre em contato
            a.header-button.header-button--plans(href="#plans") Conheça os Planos

        .separator
            .separator-mouse
