.opening{
    background-color: $bg-gray;
    padding-top: rem(70);

    @media (max-width: rem(500)) {
        padding-top: rem(20);
    }

    .header-buttons-wrapper {
        position: absolute;
        top: rem(-70);
        right: rem(40);
        width: 100%;
        text-align: right;

        @media (max-width: $mobile-bp) {
            position: initial;
            top: initial;
            right: initial;
            text-align: center;
            margin-top: rem(40);
        }
    }

    .header-button {
        display: inline-block;
        height: rem(38);
        background: #A9A9A9;
        padding: rem(12) rem(16) 0;
        border-radius: rem(17);
        margin-left: rem(37);
        font-size: rem(17);
        color: white;
        cursor: pointer;
    }

    .header-button:hover {
        opacity: 0.7;
    }

    .header-button--contact {
        @media (max-width: $mobile-bp) {
            position: absolute;
            top: rem(-70);
            right: rem(20);
        }

        @media (max-width: rem(500)) {
            font-size: 13px;
            height: 33px;
            top: rem(-20);
        }
    }

    .header-button--plans {
        @include font-black;
        background: black;
        font-size: rem(15);
        padding-top: rem(13);

        @media (max-width: $mobile-bp) {
            margin-left: 0;
        }
    }

    .building-img{
        display: inline-block;
        width: rem(590);
        position: relative;
        top: rem(21);
        left: 0;
        vertical-align: text-top;

        @media (max-width: rem(930)){
            top: 0;
            left: 50%;
            margin-top: rem(81);
            transform: translate(-50%);
        }

        @media (max-width: $mobile-bp) {
            width: 100%;
        }

        @media (max-width: rem(500)) {
            margin-top: rem(41);
        }
    }

    .text-wrapper {
        position: absolute;
        width: rem(360);
        top: rem(80);
        right: rem(86);
        z-index: 1;

        @media (max-width: rem(990)) {
            right: rem(10);
        }

        @media (max-width: rem(930)) {
            position: relative;
            top: 0;
            padding-top: rem(60);
        }

        @media (max-width: rem(360)) {
            width: 100%;
        }
    }

    .separator {
        width: 100%;
        height: rem(67);
        background-image: url("../../assets/images/separator-line.svg");
        background-repeat: no-repeat;
        background-position: center rem(30);
        margin-top: rem(68);
        background-size: $desktop-bp;

        @media (max-width: $mobile-bp) {
            margin-top: rem(40);
            background-image: url("../../assets/images/separator-line-mobile.svg");
            background-size: 550px;
            background-position: center rem(10);
        }
    }

    .separator-mouse {
        height: rem(67);
        background: url("../../assets/images/separator-mouse.svg") no-repeat center top;
        background-size: auto rem(47);

        @media (max-width: $mobile-bp) {
            display: none;
        }
    }
}
