doctype html

html
    head
        title Lapps
        meta(charset= 'UTF-8')
        meta(name= 'viewport' content= 'width=device-width, initial-scale=1.0, maximum-scale=1.0')
        link(rel="stylesheet" type="text/css" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")

    body
        main.main-container
            include partials/sections/01-head/head-bar
            include partials/sections/02-opening/opening
            include partials/sections/03-places/places
            include partials/sections/04-services/services
            include partials/sections/05-plans/plans
            include partials/sections/07-footer/footer

        script(
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"
        )

        script(src="http://jqueryvalidation.org/files/dist/jquery.validate.js")
        script(src="http://jqueryvalidation.org/files/dist/additional-methods.min.js")

        script
            include ./index.js
