.services{
    text-align: center;
    padding-bottom: rem(110);

    .list-wrapper {
        display: inline-block;
        text-align: left;
        width: calc(100% - 80px);
        max-width: rem(910);
        margin: rem(64) 0;
        box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.05);
        box-sizing: content-box;

        @media (max-width: rem(990)) {
            width: auto;
            padding: rem(40) rem(40);
            margin: rem(64) rem(20) rem(30);
        }
    }

    ul{
        padding: rem(33) 0 0 rem(43);
        display: inline-block;
        vertical-align: text-top;
        border-right: 1px solid #eaeaea;
        height: rem(260);

        &:last-of-type {
            border: none;
        }

        @media (max-width: rem(990)) {
            display: block;
            height: initial;
            padding-top: 0;
            border: 0;
            width: 100% !important;
            margin-bottom: rem(25);

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        @media (max-width: rem(480)) {
            padding: 0;
        }

        li {
            list-style: none;
            font-size: rem(17);
            margin-bottom: rem(25);
            line-height: 23px;
            letter-spacing: -0.03em;

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                content: "\2022";
                color: $text-orange;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }
    }

    .list--left {
        width: rem(285);
    }

    .list--center {
        width: rem(368);
    }

    .list--right {
        width: rem(255);
    }

    .section-footer {
        @include font-black;
        margin: rem(22) rem(28) 0;

        p {
            margin-top: rem(3);

            &:last-of-type {
                color: $text-orange;
            }
        }
    }
}
