section.services
    h3 Com o <strong>LAPSS</strong> você conta com:

    .list-wrapper
        ul.list--left
            li Consultoria Jurídica
            li Revisão de contratos
            li Elaboração de documentos
            li Defesa de seus interesses em ações judiciais

        ul.list--center
            li Apoio em emergências jurídicas
            li Compromisso com o seu resultado
            li Desenvolvimento de soluções práticas
            li Atendimento personalizado

        ul.list--right
            li Mais agilidade
            li Mais proteção
            li Mais produtividade
            li Advogados especialistas em diferentes áreas

    .section-footer
        p Mais do que um serviço jurídico para startups e pequenas empresas.
        p Somos a garantia de segurança e traquilidade para o seu negócio.
