/* stylelint-disable *
@charset 'UTF-8';

/* stylelint-enable */

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro-Light.eot);
    src: url(../fonts/GothamPro-Light.woff2) format("woff2"),url(../fonts/GothamPro-Light.woff) format("woff"),url(../fonts/GothamPro-Light.ttf) format("truetype"),url(../fonts/GothamPro-Light.svg#GothamPro-Light) format("svg"),url(../fonts/GothamPro-Light.eot?#iefix) format("embedded-opentype");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro-LightItalic.eot);
    src: url(../fonts/GothamPro-LightItalic.woff2) format("woff2"),url(../fonts/GothamPro-LightItalic.woff) format("woff"),url(../fonts/GothamPro-LightItalic.ttf) format("truetype"),url(../fonts/GothamPro-LightItalic.svg#GothamPro-LightItalic) format("svg"),url(../fonts/GothamPro-LightItalic.eot?#iefix) format("embedded-opentype");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro.eot);
    src: url(../fonts/GothamPro.woff2) format("woff2"),url(../fonts/GothamPro.woff) format("woff"),url(../fonts/GothamPro.ttf) format("truetype"),url(../fonts/GothamPro.svg#GothamPro) format("svg"),url(../fonts/GothamPro.eot?#iefix) format("embedded-opentype");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro-Italic.eot);
    src: url(../fonts/GothamPro-Italic.woff2) format("woff2"),url(../fonts/GothamPro-Italic.woff) format("woff"),url(../fonts/GothamPro-Italic.ttf) format("truetype"),url(../fonts/GothamPro-Italic.svg#GothamPro-Italic) format("svg"),url(../fonts/GothamPro-Italic.eot?#iefix) format("embedded-opentype");
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro-Medium.eot);
    src: url(../fonts/GothamPro-Medium.woff2) format("woff2"),url(../fonts/GothamPro-Medium.woff) format("woff"),url(../fonts/GothamPro-Medium.ttf) format("truetype"),url(../fonts/GothamPro-Medium.svg#GothamPro-Medium) format("svg"),url(../fonts/GothamPro-Medium.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro-MediumItalic.eot);
    src: url(../fonts/GothamPro-MediumItalic.woff2) format("woff2"),url(../fonts/GothamPro-MediumItalic.woff) format("woff"),url(../fonts/GothamPro-MediumItalic.ttf) format("truetype"),url(../fonts/GothamPro-MediumItalic.svg#GothamPro-MediumItalic) format("svg"),url(../fonts/GothamPro-MediumItalic.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro-Bold.eot);
    src: url(../fonts/GothamPro-Bold.woff2) format("woff2"),url(../fonts/GothamPro-Bold.woff) format("woff"),url(../fonts/GothamPro-Bold.ttf) format("truetype"),url(../fonts/GothamPro-Bold.svg#GothamPro-Bold) format("svg"),url(../fonts/GothamPro-Bold.eot?#iefix) format("embedded-opentype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro-BoldItalic.eot);
    src: url(../fonts/GothamPro-BoldItalic.woff2) format("woff2"),url(../fonts/GothamPro-BoldItalic.woff) format("woff"),url(../fonts/GothamPro-BoldItalic.ttf) format("truetype"),url(../fonts/GothamPro-BoldItalic.svg#GothamPro-BoldItalic) format("svg"),url(../fonts/GothamPro-BoldItalic.eot?#iefix) format("embedded-opentype");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro-Black.eot);
    src: url(../fonts/GothamPro-Black.woff2) format("woff2"),url(../fonts/GothamPro-Black.woff) format("woff"),url(../fonts/GothamPro-Black.ttf) format("truetype"),url(../fonts/GothamPro-Black.svg#GothamPro-Black) format("svg"),url(../fonts/GothamPro-Black.eot?#iefix) format("embedded-opentype");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro-BlackItalic.eot);
    src: url(../fonts/GothamPro-BlackItalic.woff2) format("woff2"),url(../fonts/GothamPro-BlackItalic.woff) format("woff"),url(../fonts/GothamPro-BlackItalic.ttf) format("truetype"),url(../fonts/GothamPro-BlackItalic.svg#GothamPro-BlackItalic) format("svg"),url(../fonts/GothamPro-BlackItalic.eot?#iefix) format("embedded-opentype");
    font-weight: 800;
    font-style: italic
}
