h3 {
    @include font-light;
    font-size: rem(44);
    margin: 0 rem(28);
    padding-top: rem(107);

    @media (max-width: rem(690)) {
        text-align: left;
        font-size: rem(31);
    }

    strong {
        color: $text-orange;
    }
}

p {
    font-size: rem(19);
    line-height: rem(23);

    @media (max-width: rem(500)) {
        font-size: rem(14);
        line-height: rem(23);
    }
}

.grid {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: $desktop-bp;
    //padding: 0 rem(95);
    //border: 1px solid gray;

    @media (max-width: $desktop-bp) {
        width: 100%;
        padding: 0 rem(40);
    }

    @media (max-width: $mobile-bp) {
        padding: 0 rem(20);
    }
}

.grid--padding {
    padding: 0 rem(60);

    @media (max-width: $mobile-bp) {
        padding: 0 rem(20);
    }
}

.title {
    @include font-light;
    font-size: rem(40);
    line-height: rem(40);
    letter-spacing: 0.024em;

    @media (max-width: rem(500)) {
        font-size: rem(30);
        line-height: rem(30);
    }
}

.subtitle {
    @include font-black;
    color: $text-orange;
    font-size: rem(42);

    @media (max-width: rem(500)) {
        font-size: rem(32);
        line-height: rem(32);
    }
}

.explanation {
    margin-top: rem(50);


    @media (max-width: rem(500)) {
        width: 100%;
        margin-top: rem(30);
    }
}
