@import './reset';
@import './breakpoints';
@import './functions';
@import './mixins';
@import './font-family';
@import './variables';
@import "./globals";

.main-container {
    @include font-light;
    color: $text-gray;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    @media (max-width: $desktop-bp) {
        width: 100%;
    }
}

@import "../../partials/sections/01-head/head-bar";
@import "../../partials/sections/02-opening/opening";
@import "../../partials/sections/03-places/places";
@import "../../partials/sections/04-services/services";
@import "../../partials/sections/05-plans/plans";
@import "../../partials/sections/07-footer/footer";
